<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Michroma|PT+Sans+Narrow|Playfair+Display" rel="stylesheet"> 
</head>
<body>
    <div class="header">
        <div class="main-line">
            <a href="home" class="main-line-logo">ModaSoda</a>
            <form action="#" class="main-line-search">
               <input class="main-line-search-input" type="text" placeholder="Що шукаємо?">
               <button class="main-line-search-button">Пошук</button>               
            </form>
        </div>
    </div>
    <div class="bar">
        <ul class="bar-list">
              
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="men">Чоловічі</a>
               </li>
               
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="women">Жіночі</a>
               </li>
               
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="home">Бренди</a>
               </li>
               
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="allsunglasses">Сонцезахисні окуляри</a>
               </li>
               
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="rims">Оправи</a>
               </li>
               
        </ul>
    </div>
    <div class="designer-info">
        <img class="designer-info-image" src="assets/images/img/all.jpg" alt="people in sunglasses">
    </div>
    <div id="jsonItems" data-type="sunglasses" data-name="" data-sex="">
        
    </div>
    <div class="footer">
       <div class="footer-container">
            <a href="" class="footer-container-facebook socials"></a>
            <a href="" class="footer-container-google socials"></a>
            <a href="" class="footer-container-instagram socials"></a>
            <a href="" class="footer-container-pinterest socials"></a>
            <a href="" class="footer-container-twitter socials"></a>
            <a href="" class="footer-container-whatsapp socials"></a>
       </div>

    </div>
    <script src="scripts/script.js"></script>
</body>
</html>