include parts/header
.wrapper
button(id='delete-all') Видалити всі
input(type="phone" id="phone" placeholder="Phone")
input(type="text" id="address" placeholder="Address")
input(type="text" id="courier" placeholder="Courier")
button(id='buy') Купити
script(src='scripts/cart.js')