include parts/header
h2.cart-header="Ваше Замовлення"
.wrapper
    .cart-items
        p#empty-cart
        p#empty-fields
.wrapper
    .container-form
        p.summ-order
            span="Cума вашого замовлення:  "
            span#summ.summ
        button(id='buy' class="cart-form-item") Купити
        input(type="phone" id="phone" placeholder="Phone" class="cart-form-item")
        select(id="address" placeholder="Address" class="cart-form-item")
            option Address
        input(type="text" id="courier" placeholder="Courier" class="cart-form-item")
        button(id='delete-all' class="cart-form-item") Видалити всі
    .container
        .item-wrapper
script(src='scripts/cart.js')
