include parts/header
.main-content
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-chopard.hover-effect(href='/ModaSoda/pages/chopard.html') Chopard
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-tm.hover-effect(href='/ModaSoda/pages/tomFord.html') Tom Ford
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-am.hover-effect(href='/ModaSoda/pages/alexanderMcQueen.html') Alexander McQueen
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-ch.hover-effect(href='/ModaSoda/pages/carolinaHerrera.html') Carolina Herrera
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-md.hover-effect(href='/ModaSoda/pages/momoDesign.html')
               span.momo Momo
               | Design
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-furla.hover-effect(href='/ModaSoda/pages/furla.html') Furla
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-lanvin.hover-effect(href='/ModaSoda/pages/lanvin.html') Lanvin
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-escada.hover-effect(href='/ModaSoda/pages/escada.html') Escada
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-bv.hover-effect(href='/ModaSoda/pages/bottegaVeneta.html') Bottega Veneta
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-blumarine.hover-effect(href='/ModaSoda/pages/blumarine.html') Blumarine
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-rc.hover-effect(href='/ModaSoda/pages/robertoCavalli.html') Roberto Cavalli
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-dunhill.hover-effect(href='/ModaSoda/pages/dunhill.html') Dunhill
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-zegna.hover-effect(href='/ModaSoda/pages/zegna.html') Ermenegildo Zegna
   .main-content-brend
       p.main-content-brend-name
           a.main-content-brend-name-link.main-content-brend-name-trussardi.hover-effect(href='/ModaSoda/pages/trussardi.html') Trussardi
include parts/footer
