<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MS</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Michroma|PT+Sans+Narrow|Playfair+Display" rel="stylesheet"> 
</head>
<body>
    <div class="header">
        <div class="main-line">
            <a href="home" class="main-line-logo">ModaSoda</a>
            <form action="#" class="main-line-search">
               <input class="main-line-search-input" type="text" placeholder="Що шукаємо?">
               <button class="main-line-search-button">Пошук</button>        
            </form>
        </div>
    </div>
    <div class="bar">
        <ul class="bar-list">
              
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="men">Чоловічі</a>
               </li>
               
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="women">Жіночі</a>
               </li>
               
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="home">Бренди</a>
               </li>
               
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="allsunglasses">Сонцезахисні окуляри</a>
               </li>
               
               <li class="bar-list-elements">
                   <a class="bar-list-elements-links" href="rims">Оправи</a>
               </li>
               
        </ul>
    </div>
    <div class="main-content">
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/chopard.html" class="main-content-brend-name-link main-content-brend-name-chopard hover-effect">Chopard</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/tomFord.html" class="main-content-brend-name-link main-content-brend-name-tm hover-effect">Tom Ford</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/alexanderMcQueen.html" class="main-content-brend-name-link main-content-brend-name-am hover-effect">Alexander McQueen</a>
             </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/carolinaHerrera.html" class="main-content-brend-name-link main-content-brend-name-ch hover-effect">Carolina Herrera</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/momoDesign.html" class="main-content-brend-name-link main-content-brend-name-md hover-effect"><span class="momo">Momo</span>Design</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/furla.html" class="main-content-brend-name-link main-content-brend-name-furla hover-effect">Furla</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/lanvin.html" class="main-content-brend-name-link main-content-brend-name-lanvin hover-effect">Lanvin</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/escada.html" class="main-content-brend-name-link main-content-brend-name-escada hover-effect">Escada</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/bottegaVeneta.html" class="main-content-brend-name-link main-content-brend-name-bv hover-effect">Bottega Veneta</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/blumarine.html" class="main-content-brend-name-link main-content-brend-name-blumarine hover-effect">Blumarine</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/robertoCavalli.html" class="main-content-brend-name-link main-content-brend-name-rc hover-effect">Roberto Cavalli</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/dunhill.html" class="main-content-brend-name-link main-content-brend-name-dunhill hover-effect">Dunhill</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/zegna.html" class="main-content-brend-name-link main-content-brend-name-zegna hover-effect">Ermenegildo Zegna</a>
            </p>
        </div>
        <div class="main-content-brend">
            <p class="main-content-brend-name">
                <a href="/ModaSoda/pages/trussardi.html" class="main-content-brend-name-link main-content-brend-name-trussardi hover-effect">Trussardi</a>
            </p>
        </div>
    </div>
    
    <div class="footer">
       <div class="footer-container">
            <a href="" class="footer-container-facebook socials"></a>
            <a href="" class="footer-container-google socials"></a>
            <a href="" class="footer-container-instagram socials"></a>
            <a href="" class="footer-container-pinterest socials"></a>
            <a href="" class="footer-container-twitter socials"></a>
            <a href="" class="footer-container-whatsapp socials"></a>
       </div>

    </div>
</body>
</html>
