include parts/header
.content
    .content-container
        .content-container-gender
            h2 Жіночі
            img(src="/assets/images/women_glass.png")
            .content-container-gender-links
                a.content-container-gender-links-link(href="women/rims") Оправи
                a.content-container-gender-links-link(href="women/sunglasses") Сонцезахисні окуляри
        .content-container-gender
            h2 Чоловічі
            img(src="/assets/images/men_glass.png")
            .content-container-gender-links
                a.content-container-gender-links-link(href="men/rims") Оправи
                a.content-container-gender-links-link(href="men/sunglasses") Сонцезахисні окуляри
a(name="brands")
.brands-container-header
    h2 Бренди
    .brands-container
        each brand in brands
            .brands-container-item
                a.brands-item(href="brands/" + brand)
                    h3.brands-name=brand
include parts/footer
