include parts/header
.wrapper
   each glass in glasses
        a.glass-item(href="glasses/" + glass._id)
                img(src=glass.foto_1 width="100px")
                span="Name:    " + glass.name
                span="ID:      " + glass.id
                span="Description: " + glass.description

include parts/footer
script(src='scripts/script.js')
