include parts/header
.designer-info
        img.designer-info-image(src='assets/images/img/man-banner.jpg', alt='man in sunglasses')
        .designer-info-wrapped-form
        input.designer-info-wrapped-form-sort-button.ch(type='button', value='Carolina Herrera', data-name='Carolina Herrera')
        input.designer-info-wrapped-form-sort-button.md(type='button', value='Momodesign', data-name='Momo Design')
        input.designer-info-wrapped-form-sort-button.furla(type='button', value='Furla', data-name='Furla')
        input.designer-info-wrapped-form-sort-button.escada(type='button', value='Escada', data-name='Escada')
        input.designer-info-wrapped-form-sort-button.blumarine(type='button', value='Blumarine', data-name='Blumarine')
        input.designer-info-wrapped-form-sort-button.dunhill(type='button', value='Dunhill', data-name='Dunhill')
        input.designer-info-wrapped-form-sort-button.trussardi(type='button', value='Trussardi', data-name='Trussardi')
        input.designer-info-wrapped-form-sort-button.chopard(type='button', value='Chopard', data-name='Chopard')
        input.designer-info-wrapped-form-sort-button.tf(type='button', value='Tom Ford', data-name='Tom Ford')
        input.designer-info-wrapped-form-sort-button.am(type='button', value='Alexander McQueen', data-name='Alexander McQueen')
        input.designer-info-wrapped-form-sort-button.lanvin(type='button', value='Lanvin', data-name='Lanvin')
        input.designer-info-wrapped-form-sort-button.bv(type='button', value='Bottega Veneta', data-name='Bottega Veneta')
        input.designer-info-wrapped-form-sort-button.rc(type='button', value='Roberto Cavalli', data-name='Roberto Cavalli')
        input.designer-info-wrapped-form-sort-button.ez(type='button', value='Ermenegildo Zegna', data-name='Ermenegildo Zegna')
        input.designer-info-wrapped-form-sort-button(type='button', value='Всі чоловічі', data-sex='men')
#jsonItems(data-type='', data-name='', data-sex='men')
include parts/footer
script(src='scripts/script.js')
