include parts/header
form#signin-form(method="post" action="signin")
    input(type="text" name="login" id="login" placeholder="Login")
    input(type="password" name="password" id="password" placeholder="Password")
    button#signin(type="submit") Sign In
script(src='scripts/signin.js')