<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Michroma|PT+Sans+Narrow|Playfair+Display" rel="stylesheet"> 
</head>
<body>
    <div class="header">
        <div class="main-line">
            <a href="home" class="main-line-logo">ModaSoda</a>
            <form action="#" class="main-line-search">
               <input class="main-line-search-input" type="text" placeholder="Що шукаємо?">
               <button class="main-line-search-button">Пошук</button>        
            </form>
        </div>
    </div>
    <div class="bar">
        <ul class="bar-list">

            <li class="bar-list-elements">
                <a class="bar-list-elements-links" href="men">Чоловічі</a>
            </li>

            <li class="bar-list-elements">
                <a class="bar-list-elements-links" href="women">Жіночі</a>
            </li>

            <li class="bar-list-elements">
                <a class="bar-list-elements-links" href="home">Бренди</a>
            </li>

            <li class="bar-list-elements">
                <a class="bar-list-elements-links" href="allsunglasses">Сонцезахисні окуляри</a>
            </li>

            <li class="bar-list-elements">
                <a class="bar-list-elements-links" href="rims">Оправи</a>
            </li>
               
        </ul>
    </div>
    <div class="designer-info">
       <img class="designer-info-image" src="/assets/images/img/woman-banner.jpg" alt="woman in sunglasses">
       <div class="designer-info-wrapped-form">
               <input type="button" value="Carolina Herrera" class="designer-info-wrapped-form-sort-button ch" data-name="Carolina Herrera">
               <input type="button" value="Momodesign" class="designer-info-wrapped-form-sort-button md" data-name="Momo Design">
               <input type="button" value="Furla" class="designer-info-wrapped-form-sort-button furla" data-name="Furla">
               <input type="button" value="Escada" class="designer-info-wrapped-form-sort-button escada" data-name="Escada">
               <input type="button" value="Blumarine" class="designer-info-wrapped-form-sort-button blumarine" data-name="Blumarine">
               <input type="button" value="Dunhill" class="designer-info-wrapped-form-sort-button dunhill" data-name="Dunhill">
               <input type="button" value="Trussardi" class="designer-info-wrapped-form-sort-button trussardi" data-name="Trussardi">
               <input type="button" value="Chopard" class="designer-info-wrapped-form-sort-button chopard" data-name="Chopard">
               <input type="button" value="Tom Ford" class="designer-info-wrapped-form-sort-button tf" data-name="Tom Ford">
               <input type="button" value="Alexander McQueen" class="designer-info-wrapped-form-sort-button am" data-name="Alexander McQueen">
               <input type="button" value="Lanvin" class="designer-info-wrapped-form-sort-button lanvin" data-name="Lanvin">
               <input type="button" value="Bottega Veneta" class="designer-info-wrapped-form-sort-button bv" data-name="Bottega Veneta">
               <input type="button" value="Roberto Cavalli" class="designer-info-wrapped-form-sort-button rc" data-name="Roberto Cavalli">
               <input type="button" value="Ermenegildo Zegna" class="designer-info-wrapped-form-sort-button ez" data-name="Ermenegildo Zegna">
               <input type="button" value="Всі жіночі" class="designer-info-wrapped-form-sort-button" data-sex="women">
       </div>
    </div>
    <div id="jsonItems" data-type="" data-name="" data-sex="women">

    </div>
    <div class="footer">
       <div class="footer-container">
            <a href="" class="footer-container-facebook socials"></a>
            <a href="" class="footer-container-google socials"></a>
            <a href="" class="footer-container-instagram socials"></a>
            <a href="" class="footer-container-pinterest socials"></a>
            <a href="" class="footer-container-twitter socials"></a>
            <a href="" class="footer-container-whatsapp socials"></a>
       </div>

    </div>
    <script src="scripts/script.js"></script>
</body>
</html>