.footer
    .footer-container
        a.footer-container-facebook.socials(href='')
        a.footer-container-google.socials(href='')
        a.footer-container-instagram.socials(href='')
        a.footer-container-pinterest.socials(href='')
        a.footer-container-twitter.socials(href='')
        a.footer-container-whatsapp.socials(href='')
script(src="/scripts/script.js")
script(src="/scripts/menu.js")
