doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title ZG
        link(rel='stylesheet', href='/styles/scss/style.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap', rel='stylesheet')
    body
        header
            div.container-header
                h1.site-name
                    img(src='/assets/images/logo.svg')
                nav.navbar
                    a.navbar-link(href='/') Головна
                    a.navbar-link(href='/rims') Оправи
                    a.navbar-link(href='/sunglasses') Сонцезахисні окуляри
                    a.navbar-link(href='#brands') Бренди
                .container-buttons
                    .search
                        input#search-input.search-text(type="text" placeholder="Пошук")
                        button#search-toggle
                            img(src='/assets/images/search.png')
                    a.cart(href="/cart")
                        img(src='/assets/images/cart.png')
                        span.text Корзина
                        span#counter