* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

button {
  cursor: pointer; }

header {
  background-color: #f2ebe6;
  width: 100%;
  font-family: "Roboto";
  padding: 20px 0; }
  header .site-name {
    color: #303437;
    font-size: 48px;
    font-weight: 300;
    cursor: default;
    vertical-align: center;
    text-align: center; }
  header .navbar {
    display: flex;
    min-width: 550px;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; }
    header .navbar-link {
      color: #212121;
      text-decoration: none; }
  header .cart {
    color: #303437;
    text-transform: uppercase;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    position: relative; }
    header .cart .text {
      margin-left: 10px;
      font-family: "Roboto";
      font-size: 14px;
      font-weight: 500; }
    header .cart #counter {
      position: absolute;
      left: 6px;
      top: 7px;
      font-size: 13px; }

.wrapper {
  display: flex; }

.cart-header {
  text-align: center;
  margin: 20px 0;
  color: #212121;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 300; }

.container-header {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.content {
  background-color: #f2ebe6;
  padding-top: 180px;
  padding-bottom: 300px; }
  .content-container {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    .content-container-gender h2 {
      color: #fff;
      font-family: "Montserrat";
      font-size: 100px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      cursor: default; }
    .content-container-gender img {
      margin-top: -50px;
      margin-bottom: 85px; }
    .content-container-gender-links {
      max-width: 400px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      .content-container-gender-links-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1.8px;
        color: #a77c5a; }

.brands {
  padding-top: 50px;
  width: calc(100% - 100px);
  margin: 0 auto; }
  .brands-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .brands-container-header {
      padding-top: 70px;
      max-width: 1300px;
      margin: 0 auto; }
      .brands-container-header h2 {
        font-family: "Montserrat";
        font-size: 35px;
        letter-spacing: 1.5px;
        color: #303437;
        font-weight: 300;
        cursor: default; }
    .brands-container-item {
      margin-bottom: 20px; }
  .brands-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    border: 1px solid #212121;
    background: none;
    text-decoration: none;
    color: #6a6a6a;
    opacity: .3;
    font-family: "Roboto";
    font-size: 45px; }
  .brands-name {
    color: #6a6a6a;
    text-underline: none; }
  .brands-count {
    color: #a77c5a;
    font-family: "Montserrat";
    font-size: 18px;
    text-transform: uppercase;
    text-align: center; }

.brands {
  display: flex;
  position: relative;
  flex-direction: row; }
  .brands-name-page {
    position: absolute;
    font-family: "Montserrat";
    font-size: 45px;
    left: calc(50% - 93px);
    color: #6a6a6a; }
  .brands .item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin: 30px 20px; }

.add-to-cart, .increment {
  position: relative;
  display: block;
  background: none;
  border: none;
  width: 20px;
  height: 20px; }
  .add-to-cart::after, .increment::after {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 3px;
    background-color: #a77c5a;
    top: 0;
    left: 8px; }
  .add-to-cart::before, .increment::before {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 3px;
    background-color: #a77c5a;
    transform: rotate(90deg);
    top: 0;
    left: 8px; }

.increment {
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0; }

.decrement {
  align-self: end;
  position: relative;
  display: block;
  background: none;
  border: none;
  width: 20px;
  height: 20px; }
  .decrement::before {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 3px;
    background-color: #a77c5a;
    transform: rotate(90deg);
    top: 0;
    left: 8px; }

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
  text-decoration: none;
  position: relative; }
  .item-photo {
    width: 300px;
    height: 300px;
    margin-bottom: 10px; }
  .item-name, .item-id {
    font-family: "Montserrat";
    font-size: 18px;
    color: #a77c5a;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.8px; }
  .item-price {
    font-size: 30px;
    color: #212121;
    font-weight: 700;
    margin-top: 20px;
    font-family: "Montserrat";
    letter-spacing: 1.4px; }

.item-glasses {
  max-width: 300px;
  display: flex;
  flex-direction: column; }

.admin-send-form {
  display: flex;
  width: calc(100% - 30px);
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px; }
  .admin-send-form .inputs {
    display: flex;
    flex-direction: column; }
  .admin-send-form .checkbox {
    width: 20px;
    height: 20px; }
  .admin-send-form .input-layer {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid white; }
    .admin-send-form .input-layer label {
      width: 100%;
      height: 100%; }
    .admin-send-form .input-layer:hover {
      border-bottom: 2px solid #a77c5a; }

.admin-inputs-db {
  max-width: 400px;
  margin-bottom: 10px;
  padding: 10px 10px; }

.order {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
  padding: 10px 5px; }
  .order .glasses-quantity {
    margin: 10px 0;
    display: flex;
    flex-direction: column; }
  .order span {
    margin-bottom: 10px; }
  .order-phone, .order-address, .order-courier {
    margin-left: 35px;
    margin-bottom: 10px; }

.order-glasses {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.list {
  margin-top: 20px; }

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap; }
  .container > * {
    margin-right: 10px; }

input.cart-form-item {
  padding: 10px 5px;
  border: 1px solid #a77c5a; }

button.cart-form-item {
  border: 1px solid #a77c5a;
  color: #a77c5a;
  background: none;
  padding: 10px 20px; }

.cart-form-item {
  margin-bottom: 20px; }

.container-buttons {
  min-width: 200px;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase; }
  .container-buttons .search {
    width: 100%; }
    .container-buttons .search-text {
      display: none; }
    .container-buttons .search #search-toggle {
      background: none;
      border: none; }

.wrapper {
  max-width: 1300px;
  margin: 0 auto; }

.container-form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 30px; }

.summ-order {
  color: #a77c5a;
  font-family: 'Montserrat';
  margin-bottom: 20px; }

.summ {
  font-size: 20px; }

#empty-cart {
  color: #a77c5a;
  font-family: 'Montserrat';
  font-size: 20px;
  align-self: center; }

/*# sourceMappingURL=style.css.map */
