@charset "UTF-8";
@font-face {
  font-family: KuenstlerSchreibschriftBQ-Bold;
  src: url(../assets/fonts/KuenstlerSchreibschriftBQ-Bold.otf); }
@font-face {
  font-family: Didot;
  src: url(../assets/fonts/didot/Didot-HTF-L24-Light.ttf); }
@font-face {
  font-family: Times-Roman;
  src: url(../assets/fonts/OPTITimes-Roman.otf); }
@font-face {
  font-family: Futura;
  src: url(../assets/fonts/futura-light-bt.ttf); }
@font-face {
  font-family: Kunstler-Script;
  src: url(../assets/fonts/Kunstler-Script.ttf); }
@font-face {
  font-family: ChaletComprime;
  src: url(../assets/fonts/ChaletComprime.ttf); }
@font-face {
  font-family: Thiamine;
  src: url(../assets/fonts/thiamine.ttf); }
@font-face {
  font-family: Modern;
  src: url(../assets/fonts/Modern.ttf); }
.designer-info {
  margin-left: 221px;
  background-color: #F1F7E5;
  overflow: hidden;
  font-family: 'Modern'; }
  .designer-info-image {
    min-width: 100%;
    width: 100%;
    border-left: 3px solid #F1F7E5; }
  .designer-info-wrapp {
    padding: 20px;
    font-size: 15px;
    text-align: justify;
    line-height: 30px; }
    .designer-info-wrapp-name {
      text-transform: uppercase;
      margin-bottom: 10px; }

body {
  margin: 0;
  font-family: "Michroma", sans-serif;
  font-size: 25px;
  font-weight: 300;
  background-color: #FFFEF9; }
  body::after {
    content: "";
    display: block;
    clear: both; }

.main-line {
  width: 100%;
  background-color: #313025; }
  .main-line::after {
    content: "";
    display: block;
    clear: both; }
  .main-line-logo {
    float: left;
    color: #D7D6CE;
    line-height: 50px;
    margin-left: 103px;
    text-decoration: none; }
  .main-line-search {
    display: inline-block;
    float: right;
    line-height: 50px;
    margin-right: 50px; }
    .main-line-search-input {
      background-color: #FFFEF9;
      border: none;
      width: 300px;
      height: 25px; }
      .main-line-search-input:hover {
        border: 1px solid #D7D3BF; }
    .main-line-search-button {
      width: 90px;
      height: 30px;
      border: none;
      background-color: #8F8D81;
      color: #D7D6CE;
      font-family: "Michroma", sans-serif;
      cursor: pointer; }
      .main-line-search-button:hover {
        border: 1px solid #D7D3BF; }
      .main-line-search-button:active {
        background-color: #CECEC0;
        color: #2E2B05; }

/*╤В╤Ц╨╗╨╛*/
/*╨╜╨░╨▓╤Цu╨░╤Ж╤Ц╤П ╨╖╨╗╤Ц╨▓╨░*/
.bar {
  float: left;
  margin-left: 50px; }
  .bar-list {
    padding: 0;
    font-size: 25px;
    font-weight: 400; }
    .bar-list-elements {
      list-style-type: none;
      text-align: center; }
      .bar-list-elements:last-child {
        padding-bottom: 25px; }
      .bar-list-elements-links {
        text-decoration: none;
        color: #2E2B05;
        display: block;
        padding: 25px 10px;
        position: relative; }
        .bar-list-elements-links::after {
          background-color: #2E2B05;
          bottom: -4px;
          content: "";
          height: 1px;
          left: 0;
          opacity: 0;
          position: absolute;
          right: 0;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          transform-origin: 50% 50% 0;
          -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
          width: auto; }
        .bar-list-elements-links:hover {
          opacity: 1;
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1); }
          .bar-list-elements-links:hover::after {
            opacity: 1;
            transform: scaleX(1); }

/*╨Ю╤Б╨╜╨╛╨▓╨╜╨╕╨╣ ╨║╨╛╨╜╤В╨╡╨╜╤В*/
.hover-effect {
  transform: scale(1);
  overflow: hidden;
  opacity: 0.5;
  transition-duration: 0.6s;
  transform-origin: 50% 50% 0; }
  .hover-effect:hover {
    transform: scale(1.25);
    opacity: 1; }

.main-content {
  width: calc(100% - 450px);
  margin-top: 40px;
  margin-left: 450px;
  margin-right: 50px;
  overflow: hidden; }
  .main-content::after {
    content: "";
    display: block;
    clear: both; }
  .main-content-brend {
    margin-top: 35px;
    max-width: 1400px;
    box-shadow: 0 0 10px inset black;
    margin-right: 50px; }
    .main-content-brend-name {
      text-align: center;
      margin: 0;
      text-decoration: none;
      border: 2px solid #37342A;
      overflow: hidden; }
      .main-content-brend-name-link {
        display: block;
        line-height: 150px;
        text-decoration: none;
        color: #2E2B05; }
        .main-content-brend-name-link:hover {
          background-color: #F1F7E5; }
      .main-content-brend-name-chopard {
        font-family: "KuenstlerSchreibschriftBQ-Bold";
        font-size: 115px; }
      .main-content-brend-name-tm {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 75px; }
      .main-content-brend-name-am {
        font-family: 'Playfair Display', serif;
        font-size: 50px; }
      .main-content-brend-name-ch {
        font-family: 'Didot';
        font-size: 50px; }
      .main-content-brend-name-furla {
        font-family: 'Times Roman';
        font-size: 50px; }
      .main-content-brend-name-lanvin {
        font-family: 'Times Roman';
        font-size: 50px; }
      .main-content-brend-name-escada {
        font-family: 'Futura';
        font-size: 50px; }
      .main-content-brend-name-bv {
        font-family: 'Times Roman';
        font-size: 50px; }
      .main-content-brend-name-blumarine {
        font-family: 'Kunstler-Script';
        font-size: 107px; }
      .main-content-brend-name-rc {
        font-family: 'ChaletComprime';
        text-transform: lowercase;
        font-size: 50px; }
      .main-content-brend-name-dunhill {
        font-family: 'Thiamine';
        text-transform: lowercase;
        font-size: 110px; }
      .main-content-brend-name-zegna {
        font-family: 'Modern';
        font-size: 50px; }
      .main-content-brend-name-trussardi {
        font-family: 'Times Roman';
        text-transform: uppercase;
        font-size: 50px; }
    .main-content-brend:first-child {
      margin: 0;
      margin-right: 50px; }

/*╨д╤Г╤В╨╡╤А*/
.footer {
  margin-top: 35px;
  display: inline-block;
  width: 100%;
  border-top: 2px solid #37342A; }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .footer-container-facebook {
      background-image: url(../assets/images/img/facebook.png); }
    .footer-container-google {
      background-image: url(../assets/images/img/google_plus.png); }
    .footer-container-instagram {
      background-image: url(../assets/images/img/instagram.png); }
    .footer-container-pinterest {
      background-image: url(../assets/images/img/pinterest.png); }
    .footer-container-twitter {
      background-image: url(../assets/images/img/twitter.png); }
    .footer-container-whatsapp {
      background-image: url(../assets/images/img/whatsapp.png); }
    .footer-container .socials {
      width: 84px;
      height: 84px;
      display: block;
      margin: 30px; }

.designer-info-wrapped-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -7px; }
  .designer-info-wrapped-form-sort {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: calc(50% - 40px); }
    .designer-info-wrapped-form-sort:hover {
      background-color: #e7f1d2; }
    .designer-info-wrapped-form-sort-button {
      margin: 10px;
      width: 200px;
      line-height: 60px;
      font-family: "Modern";
      font-size: 18px;
      background-color: #6A7D44;
      color: #32221a;
      border: none;
      opacity: 0.6;
      transition-duration: 0.6s;
      transform: scale(1); }
      .designer-info-wrapped-form-sort-button:hover {
        opacity: 1;
        transform: scale(1.08); }
      .designer-info-wrapped-form-sort-button:active {
        opacity: 1;
        transform: scale(1.08); }

#jsonItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-family: "PT Sans Narrow", sans-serif; }
  #jsonItems .add-to-cart {
    margin: 10px;
    width: 200px;
    line-height: 60px;
    font-family: "Modern";
    font-size: 18px;
    background-color: #6A7D44;
    color: #32221a;
    border: none;
    opacity: 0.6;
    transition-duration: 0.6s;
    transform: scale(1); }
    #jsonItems .add-to-cart:hover {
      opacity: 1;
      transform: scale(1.08); }
    #jsonItems .add-to-cart:active {
      opacity: 1;
      transform: scale(1.08); }

.items-glasses {
  text-decoration: none;
  background-color: #dcebbe;
  margin: 7px;
  opacity: 0.8;
  transition: 0.6s;
  border: 3px solid #dcebbe;
  max-width: 250px;
  cursor: pointer; }

  .items-glasses-id {
    font-size: 17px;
    margin: auto; }
  .items-glasses:hover {
    opacity: 1; }
  .items-glasses-name {
    color: #2E2B05;
    font-size: 17px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center; }
  .items-glasses-price {
    color: #2E2B05;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: left; }
  .items-glasses-image {
    width: 200px; }
  .items-glasses-description {
    color: #2E2B05;
    text-align: left;
    font-size: 20px;
    margin: auto; }

.highlight {
  background-color: red; }

@media screen and (max-width: 1024px) {
  .main-content-brend-name-chopard {
    font-size: 100px; }
  .main-content-brend-name-tm {
    font-size: 70px; }
  .main-content-brend-name-am {
    font-size: 40px; }
  .main-content-brend-name-ch {
    font-size: 40px; }
  .main-content-brend-name-md {
    font-size: 40px; }
  .main-content-brend-name-furla {
    font-size: 40px; }
  .main-content-brend-name-lanvin {
    font-size: 40px; }
  .main-content-brend-name-escada {
    font-size: 40px; }
  .main-content-brend-name-bv {
    font-size: 40px; }
  .main-content-brend-name-blumarine {
    font-size: 97px; }
  .main-content-brend-name-rc {
    font-size: 40px; }
  .main-content-brend-name-dunhill {
    font-size: 95px; }
  .main-content-brend-name-zegna {
    font-size: 40px; }
  .main-content-brend-name-trussardi {
    font-size: 40px; } }
@media screen and (max-width: 800px) {
  .main-line-logo {
    margin-left: 15px; }

  .main-line-search {
    margin-right: 15px; }

  .bar {
    float: none;
    margin: 0; }
    .bar-list {
      margin: 0;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      font-size: 18px;
      margin-bottom: 10px; }
      .bar-list-elements {
        margin-right: 22px; }
        .bar-list-elements:last-child {
          margin-right: 0;
          padding: 0; }

  .main-content {
    width: calc(100% - 20px);
    margin: 0 auto;
    overflow: hidden; }
    .main-content-brend {
      margin-right: 0; }
      .main-content-brend:first-child {
        margin-right: 0; } }
@media screen and (max-width: 568px) {
  .main-line-search-input {
    width: 218px; }

  .bar-list-elements {
    font-size: 16px;
    margin-right: 10px; } }
@media screen and (max-width: 414px) {
  .main-line-logo {
    float: none;
    display: block;
    text-align: center; }

  .main-line-search {
    float: none;
    display: block;
    margin: 0 auto;
    width: 319px; }

  .bar-list {
    display: block; }

  .main-content-brend-name-chopard {
    font-size: 75px; }
  .main-content-brend-name-tm {
    font-size: 60px; }
  .main-content-brend-name-am {
    font-size: 25px; }
  .main-content-brend-name-ch {
    font-size: 25px; }
  .main-content-brend-name-md {
    font-size: 25px; }
  .main-content-brend-name-furla {
    font-size: 25px; }
  .main-content-brend-name-lanvin {
    font-size: 25px; }
  .main-content-brend-name-escada {
    font-size: 25px; }
  .main-content-brend-name-bv {
    font-size: 25px; }
  .main-content-brend-name-blumarine {
    font-size: 77px; }
  .main-content-brend-name-rc {
    font-size: 25px; }
  .main-content-brend-name-dunhill {
    font-size: 85px; }
  .main-content-brend-name-zegna {
    font-size: 25px; }
  .main-content-brend-name-trussardi {
    font-size: 25px; } }
@media screen and (max-width: 320px) {
  .main-line-search {
    width: 313px; }

  .main-line-search-input {
    width: 213px; } }
@media screen and (max-width: 732px) {
  .designer-info {
    margin: 10px; } }
@media screen and (max-width: 414px) {
  .designer-info-wrapped-form-sort {
    padding: 10px;
    max-width: calc(50% - 20px); }

  .designer-info-wrapped-form-sort-button {
    font-size: 14px; } }
@media screen and (max-width: 320px) {
  .designer-info-wrapped-form-sort {
    padding: 5px;
    max-width: calc(50% - 10px); }

  .designer-info-wrapped-form-sort-button {
    font-size: 12px; } }
@media screen and (max-width: 800px) {
  .designer-info {
    margin: 0 auto; }

  #jsonItems {
    margin: 0 auto; }

  .items-glasses {
    max-width: 220px;
    margin: 9px; } }
@media screen and (max-width: 736px) {
  .items-glasses {
    max-width: 204px; } }
@media screen and (max-width: 640px) {
  .items-glasses {
    margin: 5px 3px; } }
@media screen and (max-width: 568px) {
  #jsonItems {
    justify-content: space-around; } }
@media screen and (max-width: 414px) {
  #jsonItems {
    justify-content: space-around; } }

/*# sourceMappingURL=style.css.map */
